/************** Global Stylings **********/

.navbar-default {
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.logo-img {
    position: relative;
    width: 100px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

@media (min-width: 768px) {
    .logo-img:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*thanks to http://stackoverflow.com/a/23695194 for the sweet transition*/


/*************** Store Page **************/

img.product-image {
    height: 300px;
    display: inline-block;
}

.image-container {
    width: 100%;
    text-align: center;
}

.product-title {
    font-size: 2em;
    height: 60px;
}

.price-text {
    display: block;
    font-size: 1.5em;
}

.sale-price {
    color: red;
    text-decoration: line-through;
}

.store .container {
    position: relative;
    top: 100px;
}


/*************** Main Page **************/

.jumbotron {
    background-color: #b0ffb2;
    height: 1500px;
    margin-bottom: 750px;
    position: relative;
}

.jumbotron h1 {
    font-family: 'lato', sans-serif;
}

.animated-gif {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: -1;
    width: 75%;
    margin: 0 auto;
}

.fixed-background-image a {
    bottom: 50px;
    position: relative;
}

.hero-image-container {
    text-align: center;
    margin-top: 400px;
    position: absolute;
    bottom: 200px;
}

.jumbotron h1 {
    color: #777;
    text-align: center;
    margin-top: 10%;
}

.jumbotron p {
    color: #777;
    text-align: center;
}

.cta-button {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    font-size: 1.2em;
    margin-top: 80px;
    width: 300px;
}

@media (max-width:768px) {
    .animated-gif {
        bottom: 150px;
        width: 90%;
    }
}


/************* Gallery Page *********/

.carousel-inner img {
    margin: 50px auto;
}

span.glyphicon.glyphicon-right {
    position: fixed;
    right: 10%;
    top: 200px;
}

span.glyphicon.glyphicon-left {
    position: fixed;
    left: 10%;
    top: 200px;
}