.product-image {
	height: 100%;
	display: inline-block;
}

.image-container {
    height: 300px;
    text-align: center;
}

.product-title {
	font-size: 2em;
	height: 60px;
}

.price-text {
	display: block;
	font-size: 1.5em;
}

.sale-price {
	color:red;
	text-decoration: line-through;
}

.product-detail-container {
    height: 580px;
    position: relative;
}

button.add-to-cart-button.btn.btn-success {
    /*position: absolute;
    bottom: 3px;*/
}

p.product-description {
	height: 100px;
	overflow: hidden;
}



/*
.product-description {
	display: inline;
}

.alt-price {
	color: red;
	text-decoration: line-through;
}

.product-price {
	font-weight: bolder;
}*/
